# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.venv/
.env
.vscode/
.idea/

# logs and data
logs/
data/embeddings/
data/index/
embeddings/
*.sqlite

# notebook checkpoints
.ipynb_checkpoints

# pyproject backup
pyproject.toml.bak
